<div class="card-container">
    <div class="card-box inline">
      <section class="card-box__picture">
        <img src="{{ photo }}" alt="" />
      </section>
  
      <section class="card-box__stats">
        <div class="card-box_stats__name inline">
          <p>{{ name }}</p>
          <p>Lvl:{{ lvl }}</p>
          <img
            src="https://img.pokemondb.net/sprites/items/poke-ball.png"
            alt=""
            width="50px"
          />
        </div>
        <div class="card-box_stats__HP inline">
          <p>HP</p>
          <div class="hp-bar"></div>
        </div>
      </section>
    </div>
  </div>
  