<h1 class="title">Projeto PokeCard</h1>

<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/bulbasaur.gif"
  name="Bulbasaur"
  lvl="01"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/charmander.gif"
  name="Charmander"
  lvl="02"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/dragonite.gif"
  name="Dragonite"
  lvl="10"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/pikachu.gif"
  name="Pikachu"
  lvl="15"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/charizard.gif"
  name="Charizard"
  lvl="35"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/gengar.gif"
  name="Gengar"
  lvl="25"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/lapras.gif"
  name="Lapras"
  lvl="15"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/arcanine.gif"
  name="Arcanine"
  lvl="50"
>
</app-poke-card>
<br />
<app-poke-card
  photo="https://img.pokemondb.net/sprites/black-white/anim/normal/onix.gif"
  name="Onix"
  lvl="0"
>
</app-poke-card>
<br />

<style>
  .title{
    text-align: center;
    font-weight: 500;
  }
</style>